---
import "@/styles/tailwind.css";
import "@appwrite.io/pink";
// optionally, add icons
import "@appwrite.io/pink-icons";
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <link rel="stylesheet" href="https://unpkg.com/@appwrite.io/pink" />
        <meta
            name="description"
            content="Pull content from anywhere and serve it fast with Astro's next-gen island architecture."
        />
        <link
            rel="stylesheet"
            href="https://unpkg.com/@appwrite.io/pink-icons"
        />
        <title>Astro</title>
    </head>
    <body> </body>
</html>
